@import "libs/normalize.min";

/*! Structure.CSS start */
@import "variables";

//Lingo Notes
//---
//blck	- Block
//cont	- Container
//gd	- Grid
//s		- Small 
//m		- Medium
//l		- Large
//xl	- Extra large

// For more info on queries see the following file:
@import "queries";

body {
	font: 100% $font-stack;

	/* Light Mode */
	color: $lightmode-fg;
	background-color: $lightmode-bg;
}

@media (prefers-color-scheme: dark) {
    body {
		color: $darkmode-fg;
		background-color: $darkmode-bg;
    }
}

h1, h2, h3, h4, h5, h6, p {
	padding: 8px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.75em 0em 0em 0em;
}

p {
	margin: 0em;
}

a {
	color: $primary-color;
}

a:hover {
	//text-shadow: 1px 1px $highlight-color;
	color: $highlight-color;
}

*.active {
	color: $highlight-color;
}

*.active a {
	color: $highlight-color;
}

*.active a:hover {
	//text-shadow: none;
	color: $highlight-color;
}

*.disabled {
	color: $disabled-color;
}

*.disabled a {
	color: $disabled-color;
}

*.disabled a:hover {
	//text-shadow: none;
	color: $disabled-color;
}

table {
	width: 100%;
	//padding: $block-padding;
	box-sizing: border-box;
}

@media screen and (max-width: $small-max) {
	table.collapsable tr, table.collapsable th, table.collapsable td {
		display: block;
	}
}

td, th {
	padding: $block-padding;
}

.body-blck {
	width: 100%;
	margin: 0;
}

.body-cont {
	max-width: $medium-max;
	margin: 0 auto;
}

.body-cont-full {
	width: 100%;
	margin: 0 auto;
}

ul.vnav, ul.hnav, ul.rnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.vnav li, ul.rnav li {
	padding: 0.8rem;
}

ul.hnav li {
	padding: 0.8rem;
	float: left;
}

@media screen and (min-width: $medium-min) {
	ul.rnav li {
		float: left;
	}
}

ul.vnav li a, ul.hnav li a, ul.rnav li a {
	display: block;
	text-decoration: none;
}

//ul.vnav li a:hover, ul.hnav li a:hover, ul.rnav li a:hover {}

form {
	width: 100%;
	//padding: $block-padding;
	box-sizing: border-box;
}

legend {
	width: 100%;
}

input, select, textarea, optgroup {
	box-sizing: border-box;
	width: 100%;
	padding: $block-padding;
}

option {
	padding: $block-padding;
}

button, [type="button"], [type="reset"], [type="submit"], .button {
	box-sizing: border-box;
	display: inline-block;
	width: auto;
	padding: $block-padding;

	color: $primary-color-text;
	background-color: $primary-color;
	border-style: none;

	cursor: pointer;
	text-decoration: none;
}

[type="checkbox"], [type="radio"] {
	width: auto;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	display: inline-block;
	padding: $block-padding;
}

[type="color"] {
	background-color: $lightmode-bg;
	box-sizing: content-box;
	display: inline-block;
	height: 2.3rem;
	padding: 0;
	border: 0;
}

@media (prefers-color-scheme: dark) {
    [type="color"] {
		background-color: $darkmode-bg;
    }
}

@import "grids";
@import "visibility";