$font-stack: Helvetica, sans-serif;
$pre-font-stack: 'Courier New', Courier, monospace;
$dark-color: #222;
$light-color: #f2f2f2;

$darker-color: #1a1a1a;
$lighter-color: #fafafa;

$primary-color: #3598E8;
$primary-color-text: $light-color;
$highlight-color: #47DEFF;
$disabled-color: #888888;

$lightmode-fg: $dark-color;
$lightmode-bg: $light-color;
$darkmode-fg: $light-color;
$darkmode-bg: $dark-color;

$block-padding: 0.5em;