{{ $opts := dict "transpiler" "dartsass" }}

{{ $basestyle := slice }}
{{ $minstyle := slice }}
{{ $hashedstyle := slice }}

{{ $basestyle := $basestyle | append (resources.Get "scss/structure.scss" | resources.ExecuteAsTemplate "structure.scss" . | toCSS $opts ) }}
{{ $minstyle := $minstyle | append (resources.Get "scss/structure.scss" | resources.ExecuteAsTemplate "structure.scss" . | toCSS $opts | minify) }}

{{ $basestyle := $basestyle | resources.Concat "/css/structure.css" }}
{{ $minstyle := $minstyle | resources.Concat "/css/structure.min.css" }}

<div class="fx-s12">
    <div class="mx-x2 p-x0">
        <p><a href="{{ $basestyle.RelPermalink }}">The complete library</a></p>
        <p><a href="{{ $minstyle.RelPermalink }}">The minified version</a></p>
    </div>
</div>
