			<div class="body-blck">
				<div class="body-cont" id="header">
					<div class="fx-cont my-x2">
						<div class="fx-mshrink">
							<div class="m-x2 p-x0">
								<h1 class="py-x0">{{ site.Title }}</h1>
							</div>
						</div>
						<div class="fx-mauto">
							<nav class="mx-x2 my-x1 p-x0">
								<ul class="rnav">
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/docs/">Docs</a></li>
									<li><a href="/downloads/">Downloads</a></li>
									<li class="disabled">Contact</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>