$dark-color: #2f2f2f;
$darker-color: #1a1a1a;

$light-color: #e6e6e6;
$lighter-color: #fafafa;

$primary-color: #3598E8;
$primary-color-text: $light-color;
$highlight-color: #51a6ec;
$disabled-color: #888888;

$lightmode-fg: $dark-color;
$lightmode-bg: $lighter-color;
$darkmode-fg: $lighter-color;
$darkmode-bg: $dark-color;

$pre-light-color: $light-color;
$pre-dark-color: $darker-color;